* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        font: Trebuchet;
    }

:root {
  --mainColor: #f5822a;
}
h1 {
  margin: 0;
}
h2 {
  padding: 0.5rem 1rem;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}

#signOut{
  padding: 1rem;
  background-color: #db701d;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 18px;
  float:right;
  cursor: pointer;
}
.header{
  background: var(--mainColor);
}
