:root {
  --mainColor: #f06d06;
}
h1 {
  background: var(--mainColor);
  margin: 0;
  padding: 1rem;
  color: white;
}
h2 {
  padding: 0.5rem 1rem;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}
footer {
  background: var(--mainColor);
  padding: 0.5rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
.container{
	position: relative;
	min-height: 1vh;
}
td {
	max-width: 80px;
}

#dropdown-row {
	text-align: center;
	margin: 5px;
	font-family: Trebuchet MS;
	font-size: 20px;
}

#dropdown-menu {
	width:auto;
	height:auto;
	margin: 20px;

}

#class-button {
	height:auto;
}

#survey-title {
	text-align: center;
	color: white;
}

.top-of-table {
	text-align: center;
}

.outcome-table {
	margin: 20px;
	background: Gainsboro;
}

.names-row {
	font-size: 20px;
}


.outcome-row{
	width: 100%;
	font-family: Trebuchet MS;
}

.outcome-text {
	word-wrap: break-word;
	font-size: 14px;
	max-width: 100px;
}

.outcome-input {
	align-items: center;
	font-size:18px;
}

.top-col{
   text-align: center;
}

.sum-box {
	 background-color: #3CBC8D;
}

.number-box {
	width: 100%;
	//max-width: 70px;
}

#submit-button {
	font-family: Trebuchet MS;
	font-size: 18px;
	width: 10%;
	margin-left: 88%;
	margin-right: 2%;
}
