td {
  max-width: 80px;	
}
.top-of-table {
  text-align: center;
}

.outcome-table {
	background: Gainsboro;
}

.names-row {
	font-family: Adobe Garamond Pro;
	font-size: 20px;
}


.outcome-row{
	font-family: Trebuchet MS;
}

.outcome-text {
	word-wrap: break-word;
	font-size: 14px;
	max-width: 120px;
}

.outcome-input {
	align-items: center;
	font-size:18px;
}

.top-col{
   text-align: center; 
}

.sum-box {
	 background-color: #3CBC8D;
}

.number-box {
	width: 100%;
	//max-width: 70px;
}

#submit-button {
	font-family: Trebuchet MS;
	font-size: 18px;
	width: 10%;
	margin-left: 88%;
	margin-right: 2%;
}